li {
  list-style: none;
  margin: 20px 0 20px 0;
}

a {
  text-decoration: none;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  margin-left: -300px;
  transition: 0.4s;
}

.active-main-content {
  margin-left: 250px;
}

.active-sidebar {
  margin-left: 0;
}

#main-content {
  transition: 0.4s;
}